/* These custom styles extend or override DITA Open Toolkit default styles. */

body {
  color:blue;
}
h1 {
  color: green;
  text-decoration: underline;
}
.header {
  margin-bottom: 1rem;
  padding: 0 12px;
}

.header p {
  color: var(--headings-color);
  font-size: 1.5rem;
  margin: 0 0 16px;
}

.header hr {
  border: 0;
  border-bottom: 1px solid var(--secondary-light);
  height: 0;
}
